/*공지사항은 푸터랑 컨트롤러 높이 다시 주기*/

.board-list-footer {
  width: 900px;
  text-align: center;
  margin: 0 auto 100px;
}

.board-list-footer img {
  width: 70px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
}

.board-list-footer p {
  font-size: 12px;
  color: #999;
}

.board-list-footer p a {
  color: #333;
  margin-right: 7px;
}

.notice-board-list-footer {
  width: 900px;
  text-align: center;
  margin: 0 auto 100px;
}

.notice-board-list-footer img {
  width: 70px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
}

.notice-board-list-footer p {
  font-size: 12px;
  color: #999;
}

.notice-board-list-footer p a {
  color: #333;
  margin-right: 7px;
}

.view-board-footer {
  width: 900px;
  text-align: center;
  margin-left: 63px;
  margin-bottom: 100px;
}

.view-board-footer img {
  width: 70px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
}

.view-board-footer p {
  font-size: 12px;
  color: #999;
}

.view-board-footer p a {
  color: #333;
  margin-right: 7px;
}
