.comment-box {
  margin-top: 30px;
}

.user-textarea {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}

.user-textarea textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #999;
  border-right: none;
  outline: none;
  padding: 10px;
}

.user-textarea button {
  width: 150px;
  height: 100px;
  border: 1px solid #333;
}

.comment-list {
  margin-top: 30px;
}

.not-comment {
  text-align: center;
  color: #999;
}

.user-comment-box {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(230, 229, 229);
}

.user-comment-data {
  position: relative;
  width: 100%;
}

.user-comment-nickname {
  color: #999;
  font-size: 13px;
}

.user-comment {
  margin: 5px 0 10px;
}

.user-comment-time {
  color: #999;
  font-size: 13px;
}

.report-comment-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #999;
  font-size: 13px;
}

.user-recomment-box {
  display: flex;
  margin-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(230, 229, 229);
}

.user-recomment-data {
  position: relative;
  width: 100%;
}

.user-recomment-nickname {
  color: #999;
  font-size: 13px;
}

.user-recomment {
  margin: 5px 0 10px;
}

.user-recomment-time {
  color: #999;
  font-size: 13px;
}

.report-recomment-button {
  position: absolute;
  top: 0;
  right: 0;
  color: #999;
  font-size: 13px;
}
