.uploadform-footer {
  width: 835.5px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.uploadform-footer img {
  width: 70px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
}

.uploadform-footer p {
  font-size: 12px;
  color: #999;
}

.uploadform-footer p a {
  color: #333;
  margin-right: 7px;
}
