.uploadform {
  position: relative;
  width: 900px;
  height: 1100px;
  margin: 87px 0 50px 0;
  padding-left: 63.5px;
  border-left: 1px solid lightgray;
}

.title-input {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  padding: 20px 20px;
  border-top: 1px solid #ccc;
}

.title-input:focus {
  outline: none;
}

.uploadform-button-box {
  margin-top: 30px;
  text-align: center;
}

.uploadform-button-box button {
  padding: 10px 40px;
}

.cancel-button {
  border: 1px solid #ccc;
  margin-right: 10px;
}

.register-button {
  border: 1px solid #333;
}
