@font-face {
  font-family: 'establishRoomNo703OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.jejugothic * {
  font-family: 'Jeju Gothic', sans-serif;
}

.contain {
  display: flex;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  z-index: 100;
}

.contain .notFound-wrap {
  margin-left: 20px;
  margin-top: 100px;
}

.spinner-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1027px;
  height: 1000px;
}

.con-overay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 2300px;
  max-height: 100%;
  z-index: 50;
  background-image: url('images/bgc6.png');
  background-position: center center;
  background-size: cover;
  opacity: 0.8;
}
