.contain {
  display: flex;
  position: relative;
  width: 1300px;
  margin: 0 auto;
  border-right: 1px solid #ccc;
  background: rgb(255, 255, 255);
}

.contain .notFound-wrap {
  margin-left: 20px;
  margin-top: 100px;
}

.spinner-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1027px;
  height: 1000px;
}
