.board {
  position: relative;
  width: 900px;
  margin: 0 0 50px 0;
}

.video-collection:after {
  content: '';
  display: block;
  clear: both;
}

.video-board-controller {
  display: flex;
  width: 900px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.video-board-controller i {
  font-size: 30px;
}

.list-paging button {
  font-size: 17px;
  margin-right: 18px;
  color: #999;
}

.list-paging .on {
  color: #333;
}

.list-paging-left {
  opacity: 0;
  visibility: hidden;
  margin-right: 18px;
}

.view-video-board-controller {
  display: flex;
  width: 900px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.view-video-board-controller i {
  font-size: 30px;
}
