.video-board-footer {
  width: 900px;
  text-align: center;
  margin: 0 auto 100px;
}

.video-board-footer img {
  width: 70px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
}

.video-board-footer p {
  font-size: 12px;
  color: #999;
}

.video-board-footer p a {
  color: #333;
  margin-right: 7px;
}

.view-video-board-footer {
  width: 900px;
  margin-bottom: 100px;
  margin-left: 63px;
  text-align: center;
}

.view-video-board-footer img {
  width: 70px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
}

.view-video-board-footer p {
  font-size: 12px;
  color: #999;
}

.view-video-board-footer p a {
  color: #333;
  margin-right: 7px;
}
