.video-board-footer {
  position: absolute;
  bottom: -590px;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  text-align: center;
}

.video-board-footer img {
  width: 70px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
}

.video-board-footer p {
  font-size: 12px;
  color: #999;
}

.video-board-footer p a {
  color: #333;
  margin-right: 7px;
}

.view-video-board-footer {
  position: absolute;
  bottom: -380px;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  margin-left: 63.5px;
  text-align: center;
}

.view-video-board-footer img {
  width: 70px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
}

.view-video-board-footer p {
  font-size: 12px;
  color: #999;
}

.view-video-board-footer p a {
  color: #333;
  margin-right: 7px;
}
