.board {
  position: relative;
  width: 900px;
  margin-bottom: 50px;
  padding-left: 63.5px;
}

.board-list {
  width: 900px;
  height: 702px;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

.board-controller {
  display: flex;
  position: absolute;
  bottom: -80px;
  left: 50%;
  height: 50px;
  padding-left: 127px;
  align-items: center;
  transform: translateX(-50%);
}

.board-controller i {
  font-size: 30px;
}

.list-paging button {
  font-size: 17px;
  margin-right: 18px;
  color: #999;
}

.list-paging .on {
  color: #333;
}

.list-paging-left {
  opacity: 0;
  visibility: hidden;
  margin-right: 18px;
}
