/*공지사항은 푸터랑 컨트롤러 높이 다시 주기*/

.board-list-footer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  text-align: center;
}

.board-list-footer img {
  width: 70px;
  height: 50px;
  object-fit: cover;
  margin-top: 20px;
}

.board-list-footer p {
  font-size: 12px;
  color: #999;
}

.board-list-footer p a {
  color: #333;
  margin-right: 7px;
}

.notice-board-list-footer {
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  text-align: center;
}

.notice-board-list-footer img {
  width: 70px;
  height: 50px;
  object-fit: cover;
  margin-top: 20px;
}

.notice-board-list-footer p {
  font-size: 12px;
  color: #999;
}

.notice-board-list-footer p a {
  color: #333;
  margin-right: 7px;
}
