.contents {
  position: relative;
  width: 1027px;
  height: 100%;
  margin-top: 87px;
}

.section-top {
  width: 100%;
  padding-left: 63.5px;
}

.section-main {
  padding-left: 63.5px;
}

.section-middle {
  width: 100%;
  margin-top: 30px;
  padding-left: 63.5px;
}

.section-footer {
  width: 100%;
  margin-top: 30px;
  padding-left: 63.5px;
}
