.gnb {
  width: 273px;
  min-height: 2300px;
  padding: 50px 25px;
  border-right: 1px solid lightgray;
  text-align: center;
}

.gnb-title img {
  width: 122px;
  height: 122px;
}

.gnb-title h1 {
  margin-top: 20px;
  font-family: 'establishRoomNo703OTF';
  font-size: 25px;
  text-align: center;
}
