.info {
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 3px;
  font-size: 13px;
  color: #999;
}

.autor {
  margin-right: 30px;
}

.speaker {
  margin-right: 3px;
}

.date {
  margin-right: 10px;
}

.eye {
  margin-right: 3px;
}

.counter-eye {
  margin-right: 10px;
}

.heart {
  margin-right: 3px;
}
