.main-banner {
  position: relative;
  width: 900px;
  margin: 50px 0 50px 0;
  overflow: hidden;
}

.main-banner-list {
  display: flex;
  width: 100%;
  text-align: center;
  transition: all 1s;
}

.main-banner-list-item img {
  width: 440px;
  height: 300px;
  margin-right: 20px;
  box-shadow: 1px 3px 3px #331b3f;
  border: 1px solid lightgray;
}

.banner-navi {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.banner-navi li {
  width: 50px;
  height: 5px;
  margin-right: 10px;
  background-color: lightgray;
}

.banner-navi li:last-child {
  margin-right: 0px;
}

.banner-navi .is-active {
  background-color: rgb(233, 219, 159);
}

.banner-arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-105%);
  font-size: 40px;
  color: lightgray;
  opacity: 0.5;
}

.banner-arrow-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-105%);
  font-size: 0px;
  color: lightgray;
  opacity: 0.5;
}
