.sub-banner {
  width: 1000px;
  margin: 0;
}

.sub-banner-list {
  display: flex;
}

.sub-banner-list-item {
  margin-right: 3px;
}

.sub-banner-list-item:last-child {
  margin-right: 3px;
}

.sub-banner-list-item img {
  width: 298px;
  height: 100px;
  object-fit: cover;
}
