.board {
  position: relative;
  width: 900px;
  margin: 0 0 50px 0;
}

.board-list {
  width: 900px;
  margin-top: 30px;
  border-top: 1px solid #ccc;
}

.video-board-controller {
  display: flex;
  position: absolute;
  bottom: -720px;
  left: 50%;
  height: 50px;
  margin-left: 63.5px;
  align-items: center;
  transform: translateX(-50%);
}

.video-board-controller i {
  font-size: 30px;
}

.list-paging button {
  font-size: 17px;
  margin-right: 18px;
  color: #999;
}

.list-paging .on {
  color: #333;
}

.list-paging-left {
  opacity: 0;
  visibility: hidden;
  margin-right: 18px;
}
