.video-contents {
  width: 900px;
  margin: 50px 0 50px 0;
}

.video-contents h2 {
  font-size: 20px;
}

.video-contents-list {
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.video-contents-list-item {
  position: relative;
  width: 290px;
  float: left;
  margin-right: 15px;
  margin-bottom: 50px;
}

.video-contents-list-item p {
  font-size: 14px;
  margin-top: 5px;
  padding-left: 7px;
  height: 40px;
}

.video-contents-list-item:nth-of-type(3),
.video-contents-list-item:nth-of-type(6) {
  margin-right: 0px;
}

.video-thumb {
  position: relative;
}

.video-thumb img {
  width: 100%;
  height: 200px;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
  z-index: 999;
}

.video-overay {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(88, 87, 87, 0.3);
}
