.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-box {
  display: flex;
  margin-top: 50px;
  margin-left: 63.5px;
}

.user-info {
  margin-left: 20px;
}

.user-info h3 {
  margin: 10px 0;
}

.user-info span {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgb(238, 236, 236);
}

.user-info span:last-child {
  border-right: none;
  margin-right: none;
}

.list-comment-length {
  margin-top: 10px;
}

.tab-box {
  margin-left: 63.5px;
  margin-top: 70px;
  font-size: 20px;
}

.tab-box button {
  margin-right: 30px;
  padding-bottom: 10px;
}

.on-hit {
  color: red;
  border-bottom: 5px solid red;
}

.profile-board-footer {
  width: 900px;
  text-align: center;
  margin-left: 63px;
  margin-bottom: 100px;
}

.profile-board-footer img {
  width: 70px;
  height: 100px;
  object-fit: cover;
  margin-top: 20px;
}

.profile-board-footer p {
  font-size: 12px;
  color: #999;
}

.profile-board-footer p a {
  color: #333;
  margin-right: 7px;
}

.profile-img-modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 300px;
  background-color: #fff;
  z-index: 200;
  padding: 10px 30px;
}

.profile-img-modal p {
  color: #999;
}

.profile-img-modal input {
  width: 400px;
  margin-top: 30px;
  align-self: flex-end;
  padding-bottom: 5px;
}

.profile-img-button {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  font-size: 16px;
}

.profile-img-button button {
  border: 1px solid #333;
  padding: 8px 30px;
}

.profile-img-button button:first-child {
  margin-right: 10px;
}

.profile-overay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 25, 25, 0.5);
  z-index: 100;
}

.img-box {
  display: flex;
  margin-top: 20px;
}

.img-view {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #999;
  margin-right: 30px;
}
